*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Inizio Header*/
header{

}

header .container > * {
    padding: 20px;
    background-color: #B5DDFF;

}

/*Fine Header*/

/*Inizio Main*/

main section#jumbo .col {
    margin-bottom: 1.5rem; 
}
/*Fine Main*/

/*Inizio Classi*/

.container{
    margin: 0 auto;
}


.content{
    background-color: #B5DDFF;
    border: 1px solid black
}


/*Fine Classi*/


/*Inizio Utilities*/

.height-200{
    height: 200px;
}

.height-300{
    height: 300px;
}

.height-500{
    height: 500px;
}

.height-2000{
    height: 2000px;
}

.bg-azul {
    background-color: #0084FD;
}

.bg-azzurro{
    background-color: #B5DDFF;
}

.bg-lilla{
    background-color: #9792E4;
}

.bg-lightbrown{
    background-color: #FDC15F;
}
.bg-black{
    background-color: #333333;
}

.px-2{
    padding: 0 2rem;
}

.p-top-50{
    padding-top: 50px;
}

.p-bottom-50{
    padding-bottom: 50px;
}

.margin-bottom-16{
    margin-bottom: 16px;
}

.margin-bottom-24{
    margin-bottom: 24px;
}

.flex{
    display: flex;
}

.justify-between{
    justify-content: space-between;
}

.items-center{
    align-items: center;
}

/*Fine Utilities*/

/*Inizio Responsive*/

@media screen and (min-width:768px) {
    .container{
        max-width: 720px;
    }

    /* Jumbo */
    #jumbo .row{
        display: flex;
        flex-wrap: wrap;
        margin-left: -15px;
        margin-right: -15px;
    }
    #jumbo .col{
        width: calc(100% / 3 - 30px);
        margin-left: 15px;
        margin-right: 15px;
    }

    #jumbo .col.col-main{
        width: calc((100% / 3) * 2 - 30px);
    }

    #benefits .row{
        display: flex;
        flex-wrap: wrap;
    }
    #benefits .col{
        width: calc(100% / 2 );
    

}
}

@media screen and (min-width:992px) {
    .container{
        max-width: 960px;
    }
    #planning .row{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #planning .col{
        width: calc(100% / 2);
    }

    #planning .col.col-section2{
        margin-right: 10px;
    }

    #benefits .row{
        display: flex;
        flex-wrap: wrap;
    }
    #benefits .col{
        width: calc(100% / 3 );
    }


    
}
/*Fine Responsive*/
